.titlebar {
    text-align: center;
    padding:20px;
    font-size: 64px;
    color:rgb(160, 10, 10);
}

.roundedBox {
    background-color: #dabd7c;
    margin:5px;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

* {
    margin:0;
    font-family: 'Ysabeau SC', sans-serif;
}

#mainImage {
    width:62%;
    margin:0 5px 5px 0;
    height: auto;
    float:right;
    display:block;
}

#imageInfo {
    padding-top:10px;
    height:fit-content;
    font-size: small;
}

.lists {
    font-size: 24px;
    font-weight: 300;
    float:left;
    margin:0 0 5px 5px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 34.5%;
    height:fit-content;
}

.subheading {
    font-size: 35px;
    font-weight: 510;
    padding-bottom: 20px;
}

.lists p, li {
    font-family: 'Quicksand', sans-serif;
}